---
import { Image } from 'astro:assets';

const { imageSrc, albumName, artistName, releaseDate, rating } = Astro.props;
---

<div class="flex flex-row aspect-[2/1] w-[300px] m-2 min-w-[24%] grow font-sans snap-start">
    <Image class="w-1/2 h-full rounded-tl-2xl rounded-bl-2xl aspect-h-1 aspect-w-1" src={imageSrc} alt={albumName} width="600" height="600" decoding="async" loading="lazy"/>
    <div class="flex flex-col justify-left items-left p-4 w-1/2 h-full rounded-tr-2xl rounded-br-2xl bg-zinc-50/10 grow">
        <h1 class="text-zinc-200 font-semibold lg:text-xl md:text-base sm:text-xs">{albumName}</h1>
        <h2 class="text-zinc-400 font-medium lg:text-lg md:text-sm sm:text-xs">{artistName}</h2>
        <p class="text-zinc-500 font-medium lg:text-base md:text-xs sm:text-xs">{releaseDate}</p>
        <div class="flex-grow flex justify-center items-center">
            <p class="text-zinc-200 text-5xl font-semibold">{rating}/10</p>
        </div>
        
    </div>
</div>