---
const { title, date, description, link, id } = Astro.props;
---

<a href={link}>
    <div class="bg-zinc-800 p-8 rounded-lg">
        <h2 class="text-3xl font-bold text-zinc-100">{title}</h2>
        <p class="text-zinc-400">{date}</p>
        <div class="text-zinc-200 mt-4">{description}</div>
        <p class="text-white">{id}</p>
    </div>
</a>